<article *ngIf="package" class="card content mb-4">
  <div class="card-content">
    <div class="icon-text">
      <span class="icon has-text-primary">
        <i class="material-symbols-rounded">archive</i>
      </span>
      <span class="ml-1">{{ package.size }}</span>
    </div>

    <div class="icon-text">
      <span class="icon has-text-primary">
        <i class="material-symbols-rounded">person</i>
      </span>
      <span class="ml-1"><span class="is-italic">From</span>: {{ package.sender.address.address }}</span>
    </div>

    <div class="icon-text">
      <span class="icon has-text-primary">
        <i class="material-symbols-rounded">person</i>
      </span>
      <span class="ml-1"><span class="is-italic">To</span>: {{ package.receiver.address.address }}</span>
    </div>

    <div class="icon-text">
      <span class="icon has-text-primary">
        <i class="material-symbols-rounded">currency_bitcoin</i>
      </span>
      <span class="ml-1">{{ package.fee }}</span>
    </div>
  </div>
</article>
