<header class="block hero is-light is-small">
  <div class="hero-body">
    <div class="columns is-mobile is-vcentered is-variable is-2">
      <div class="column is-narrow">
        <figure class="image is-64x64">
          <img class="is-rounded" src="favicon.ico" alt="dPost logo">
        </figure>
      </div>

      <div class="column is-narrow">
        <h1 class="title is-3">dPost Driver</h1>
      </div>
    </div>

    <h2 class="subtitle is-5">Driver {{ user.marsId }}</h2>
  </div>
</header>

<main class="mb-4">
  <router-outlet></router-outlet>
</main>

<nav class="navbar is-fixed-bottom is-primary" role="navigation">
  <div class="navbar-brand is-hidden-desktop">
    <a class="navbar-item is-expanded is-block has-text-centered" routerLink="/notifications">
      <i class="material-symbols-rounded">notifications</i>
    </a>

    <a class="navbar-item is-expanded is-block has-text-centered" routerLink="/packages">
      <i class="material-symbols-rounded">package</i>
    </a>
  </div>

  <div class="navbar-menu is-hidden-mobile">
    <div class="container navbar-start">
      <a class="navbar-item is-expanded is-block has-text-centered" routerLink="/notifications">
        <i class="material-symbols-rounded">notifications</i>
      </a>

      <a class="navbar-item is-expanded is-block has-text-centered" routerLink="/packages">
        <i class="material-symbols-rounded">package</i>
      </a>
    </div>
  </div>
</nav>
