<header class="hero is-light is-small">
  <div class="hero-body">
    <h1 class="title is-1">dPost Driver</h1>

    <h2 class="subtitle is-3">Driver {{ user.id }}</h2>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<nav class="navbar is-fixed-bottom is-primary">
  <div class="navbar-menu is-active">
    <div class="container navbar-start">
      <div class="navbar-item is-expanded is-tab icon is-large is-clickable">
        <i class="material-symbols-rounded" routerLink="/notifications">notifications</i>
      </div>

      <div class="navbar-item is-expanded is-tab icon is-large is-clickable">
        <i class="material-symbols-rounded" routerLink="/">package</i>
      </div>
    </div>
  </div>
</nav>
