<header class="hero is-light is-small">
  <div class="hero-body">
    <h1 class="title is-1">dPost Driver</h1>

    <h2 class="subtitle is-3">Driver {{ user.id }}</h2>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<nav class="navbar is-fixed-bottom is-primary" role="navigation">
  <div class="navbar-brand is-hidden-desktop">
    <a class="navbar-item is-expanded is-block has-text-centered" routerLink="/notifications">
      <i class="material-symbols-rounded">notifications</i>
    </a>

    <a class="navbar-item is-expanded is-block has-text-centered" routerLink="/packages">
      <i class="material-symbols-rounded">package</i>
    </a>
  </div>

  <div class="navbar-menu is-hidden-mobile">
    <div class="container navbar-start">
      <a class="navbar-item is-expanded is-block has-text-centered" routerLink="/notifications">
        <i class="material-symbols-rounded">notifications</i>
      </a>

      <a class="navbar-item is-expanded is-block has-text-centered" routerLink="/packages">
        <i class="material-symbols-rounded">package</i>
      </a>
    </div>
  </div>
</nav>
