<p class="block">{{ stateMsg }}</p>

<app-package-card [package]="delivery?.package"></app-package-card>

<ng-container *ngIf="delivery?.state === 'assigned' || delivery?.state === 'transit'">
  <p class="block">{{ instruction }}</p>

  <div class="columns is-mobile is-centered">
    <qrcode class="block" *ngIf="delivery" [qrdata]="delivery.package.id.toString()" [width]="QR_CODE_WIDTH"
            [errorCorrectionLevel]="QR_CODE_ERROR_CORRECTION_LEVEL"></qrcode>
  </div>

  <div class="block buttons is-centered">
    <button class="button is-primary is-light is-outlined">{{ cta }}</button>
  </div>
</ng-container>
